# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 환경 변수 및 빌드 결과
.env*
dist/
build/
coverage/
logs/
*.log
tmp/
.nyc_output/

# Prisma
*.db
*.sqlite
*.sqlite-journal

# PostgreSQL
*.dump


# 캐시
.cache/
.parcel-cache/

# Docker
.docker/
docker-compose.override.yml

# VSCode
.vscode/
test.http
scripts/
uploads/
prisma/migrations/migration_lock.toml